@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    /* --color-primary: #9d0191; */
    --color-primary: #500000;
    --color-sec: #db6400;
    --color-grey: #eee;
    --color-dark-grey: #222831;
}
/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html {
    font-size: 12px;
    margin: 0 auto;
}

/* body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 50%; 
    height: 100%;
    width: 900px;
    /* background: rgba(0,0,0,.6);
    background-attachment: fixed;
    z-index: -1;
    transform: translateX(-50%);
    
} */

/* UTILITY */
.p-small {
    padding-bottom: 5px;
}
.p-medium {
    padding-bottom: 10px;
}
.p-y {
    padding: 10px 0;
}
.m-y {
    margin: 10px 0;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

/* header .container */
 .lyrics-head{
    padding: 5rem 0;
    text-align: center;
    /* background-color: var(--color-sec); */
    background-color: rgba(80, 0, 0, .6);
    border-radius: 2rem;
    margin-bottom: 2rem;
}
  #lyrics input{
      width: 75%;
  }

  #lyrics-top-container{
      font-size: 12pt;
      border-radius: 2rem;
      border-color: #1c2b2d;
      margin-top: 1em;
      background-color: rgb(194, 185, 185);
  }

  #lyrics-result {
      /* float: right; */
  }

header h1 {
    font-size: 10rem;
    color: #fff;
    padding-bottom: 1rem;
}

form input,
form button {
    outline: none;
    border: none;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: inherit;
}
form input {
    width: 50%;
    border-radius: 1rem 1rem 1rem 1rem;
    margin-right: 3px;
    border-bottom: 3px solid var(--color-primary);
}

form button {
    background-color: var(--color-primary);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s;
    
}

form button:hover {
    border: 1px solid #fff;
}

section .container {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 3rem 0;
}

.songs {
    color: white;
    width: 95%;
    list-style: none;
    margin:0 auto;
    padding: 2rem 0;
}

.songs li {
    float: right;
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.songs li span{
    font-size: 1.4rem;
    background-color: var(--color-primary);
    padding: 5px;
    margin: 5px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}