
  
body {
  font-family: 'Open Sans', sans-serif;
  background: url(./images/mysic.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-color: antiquewhite;
  height: 100vh;
  position: relative;
}

  video {
    width: 400px;
    height: 400px;
  }

  .room-name-container { 
    display: flex;
  }

  #room-name {
    padding-left: 10px;
  }

  /* *{
    background-color: rgba(80, 0, 0,.6);
    color: white;

   } */


  .overflow-auto{
    height: 50vh;
    width: 50vh;
  }
  .chat-container {
    float: right;
  }
/*   
  .lyrics-container {
    background-color: black;
    background-color: rgba(80, 0, 0,.6);

  } */

 .first-col {
   margin-left: 2vh;
 }

 .chat-sidebar{
   height: 125px;
   margin-top: 1vh;
   border: 6px solid;
   border-radius: 1em;
   border-color: rgba(15, 55, 114, 0.5);
   background-color: rgba(red, green, blue, alpha);
 }